/* You can add custom styles here. */

// @import "plugins/numbered";


/* used for the inline images in the hint boxes in hint.html */
.hint-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
}

